

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.big {
  font-family: 'Alfa Slab One', cursive;

}
 .home {
  font-family: 'Abril Fatface', cursive;
 }

div {
  color: white;
}
/*
 @media only screen and (min-width:38em) {
 .go-wrap {
   text-align: right;
 }
 .or-wrap {
   text-align: left;
 }


 } */
